<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 style="padding-top:0.5rem;">Edit your listing</h3>
    <form action="/listings/<%=list._id%>?_method=PUT" method="POST" class="col needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="<%=list.title%>" required>
          <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" required><%=list.description%>
            </textarea>
            <div class="invalid-feedback">Description should be short and valid</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Original Listing Image</label><br>
            <img src="<%=orgUrl%>" alt="Previous Image" style="height : 150px; width:200px" >
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" min="1" class="form-control" id="price" name="price" value="<%=list.price%>" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="category" class="form-label">Select Category</label>
            <select id="dropdown" class="form-select" aria-label="Default select example" name="category" id="category" data-previous-value="<%=list.category%>">
                <option value="Trending">Trending</option>
                <option value="Farms">Farms</option>
                <option value="Beaches">Beaches</option>
                <option value="Tiny Homes">Tiny Homes</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Camping">Camping</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Iconic Cities">Iconic Cities</option>
              </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" name="country" value="<%=list.country%>" required>
        <div class="invalid-feedback">Country should be valid</div>
    </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="loaction" name="location" value="<%=list.location%>" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Edit</button>
      </form>
    </div>
    </div>
</body>