<% layout('/layouts/boilerplate') -%>
<body>
    <%- include("../includes/filter.ejs")%>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-2">
        <%for(let list of listings){%>
            <a href="/listings/<%=list._id%>" class="a-card">
            <div class="card col show-col-card">
                <img src="<%=list.image.url%>" class="card-img-top" alt="listing image">
                <div class="card-img-overlay"></div>
                <div class="card-body show-card-body">
                  <p class="card-text">
                    <b><%= list.title %></b>
                    <br>
                    &#8377 <%= list.price.toLocaleString("en-IN") %> / night
                    &nbsp; &nbsp; <i class="tax-info">+18% GST</i>
                  </p>
                </div>
            </div>
        </a>
        <%}%>
    </div>
</body>
